body {
    font-size: 100%;
    font-family: 'Crimson Text', Georgia, serif;
    width: 90%;
    margin: auto;
    text-align: justify;
}
pre {
    width: 100%;
    white-space:pre-wrap;
}
ul {
    margin-left: 0;
}
.name {
    font-size: 150%;
    color: #777;
    text-align: right;
    margin-bottom: 2px;
}
.copyright {
    font-size: 80%;
    color: #999;
    text-align: right;
}
img {
    max-width: 100%;
    height: auto;
}